<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="custom.css">
<div class="app-wrapper">
    <div class="student-courses-wrap">
        <!-- Breadcrumb  -->
		
        <ul class="breadcrumb">
            <li><a href="#" id="bred1">{{ first_topic_session_videos.product[0].name }}</a></li>
            {# <li><a href="#" id="bred2"></a></li>
            <li><a href="#" id="bred3"></a></li>
            <li></li> #}
        </ul>
        <!-- Breadcrumb  -->

        <div class="courses-wrap">

            <!-- Filters  -->
        <div class="left-pane">
      <div id="treeview-checkbox-demo">
            <ul>
			{% for topic in topics %}

			 <a href="#" onclick="sessionTopicsshowhide({{ topic.topic_id }})"><li class="fa fa-plus-square">{{ topic.title }} </li></a>
                <ul>
				{% for session in topic.sessions %}
                    <li><a href="#" onclick="SessionTopic({{ session.session_id }}, '{{ session.test_id }}', '{{ session.assignment_file }}');">{{ session.title }}</a></li>                                           
                {% endfor %}
                 </ul>
               
				{% endfor %}
			</ul>
        </div>
            </div>

            <!-- Filter ends  -->

            <!-- Content Block  -->

            <div class="right-pane">
                
                        <h2>{{ first_topic_session_videos.product[0].name }}</h2>
                        
                <!--<h2>Mathematics</h2>-->

                <div class="student-syllabus-status">
                    <div class="status for-syllabus">
                        <p>Syllabus Completed</p>
                        <div class="progressbar">
                            <span class="w-100"></span>
                        </div>
                        <p class="status-out">100%</p>
                    </div>
                    <div class="status for-assignments">
                        <p>Assessment Marks</p>
                        <div class="progressbar">
                            <span class="w-75"></span>
                        </div>
                        <p class="status-out">120/800</p>
                    </div>

                </div>

                <div class="student-content">
                    <ul class="tabs">
                        <li>
                            <input type="radio" checked name="tabs" id="tab1" onlclick="classTab({{ session.session_id }});">
                            <label for="tab1" >Classes</label>
								
                            <div id="tab-content1" class="tab-content animated fadeIn">
                                <!-- <h2>Classes</h2> -->
                                {% for session_video in first_topic_session_videos.sessionvideosresult %}
                                    {% if loop.first %}
                                        <div class="classes-list"> {# open row #}
                                    {% endif %}
                                    {# <div class="class-info">
                                        <img src="image/catalog/class-img.png">
                                        <div class="class-desc">
                                            <h4>{{session_video.video}}</h4>
                                            <p>Class: X | CBSE<span>Guru: Lakshmi Narayana Sir</span></p>
                                        </div>
                                    </div> #}
                                    {{session_video.player}}
                                    {% if loop.index % 4 == 0 %}
                                        </div><div class="classes-list"> {# after 4 iterates close row and open new #}
                                    {% endif %}                
                                    {% if loop.last %}
                                        </div> {# close last row #}
                                    {% endif %}
                                {% endfor %}
								
                            </div>
								
                        </li>
                        <li>
                            <input type="radio" name="tabs" id="tab2">
                            <label for="tab2">Test</label>
                            <div id="tab-content2" class="tab-content animated fadeIn">
                            
							<div class="container">
							<div class="registercontpage">
							<div class="stepwizard col-md-offset-3">
							<div class="stepwizard-row setup-panel">
							{% for first_topic_session_question in first_topic_session_questions %}
                            <div class="stepwizard-step">
							<a href="#step-{{ loop.index }}" type="button" class="btn btn-circle btn-default1 btn-primary">{{ loop.index }}</a>
							{# <p>Step 1</p> #}
							</div>
                            {% endfor %}
							</div>
							</div>

							<form role="form" name="basicform" data-toggle="validator" id="basicform" method="post" action="">
							{% for first_topic_session_question in first_topic_session_questions %}
                            {% if loop.first %}
							    <div class="row setup-content" id="step-{{ loop.index }}">
                            {% else %}
							    <div class="row setup-content" id="step-{{ loop.index }}" style="display: none;">
                            {% endif %}
							<div class="col-md-12">              
							<div>
								<p><strong>{{ loop.index }}</strong>: <span>{{ first_topic_session_question.question }}</span></p>
								{% for option in first_topic_session_question.options %}
                            <label><input type="radio" name="question_options[{{ first_topic_session_question.question_id }}][]"  value="{{option.question_option_id}}" class="newques">&nbsp;<span>{{option.option_value}}</span></label>
                            
                             {% endfor %}
							</div>
                         
                            {% if loop.last %}
                            <button class="btn btn-primary nextBtn btn-lg pull-right" id="button-pre" type="button" onlclick="addstudentquestionss();">previous</button>
							<input class="btn btn-primary save btn-lg pull-right" name="submit" id="button-save" value="save" type="submit">
                            {% elseif loop.first %}
                            <button class="btn btn-primary nextBtn btn-lg pull-right" id="button-next" type="button" onlclick="addstudentquestionss();">next</button>
                            {% else %}
							<button class="btn btn-primary nextBtn btn-lg pull-right" id="button-pre" type="button" onlclick="addstudentquestionss();">previous</button>
                            <button class="btn btn-primary nextBtn btn-lg pull-right" id="button-next" type="button" onlclick="addstudentquestionss();">next</button>
                            {% endif %}
                            
                            </div>
							</div>

                            {% endfor %}
                            {% for topic in topics %}
                            <ul>
                            {% for session in topic.sessions %}
                            <input type="hidden" name="session_id" id="session_id" value="{{ session.session_id }}"/>
                             <input type="hidden" name="test_id" id="test_id" value="{{ session.test_id }} "/> 
                                                                     
                            {% endfor %}
                            </ul>

                            {% endfor %}

                            
							{# <div class="row setup-content" id="step-2" style="display: none;">

							<div class="col-md-12">
							<div class="col-md-12">
							<div class="question">
							<p><strong>Q1</strong>: Mary is English. She was born in London</p>
							<label> <input type="radio" name="two" value="a" class="newques">&nbsp;Mary was born in England</label>
                            <label><input type="radio" name="two" value="b" class="newques">&nbsp;Mary, who is English, was born in London</label>
                            <label><input type="radio" name="two" value="c" class="newques">&nbsp;English Mary was born in London</label>

							</div>
							
							<a href="#step-1" class="btn btn-primary preBtn btn-lg pull-left">previous</a>
							 			   
							 <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
							</div>
							</div>
							</div> #}
							{# <div class="row setup-content" id="step-3" style="display: none;">
							
							<div class="col-md-12">
							<div class="col-md-12">
							<div class="question">
								<p><strong>Q1</strong>: Mary is English. She was born in London</p>
								<label> <input type="radio" name="two" value="a" class="newques">&nbsp;Mary was born in England</label>
                            <label><input type="radio" name="two" value="b" class="newques">&nbsp;Mary, who is English, was born in London</label>
                           <label> <input type="radio" name="two" value="c" class="newques">&nbsp;English Mary was born in London</label>

							</div>
							<div class="question">
								<p><strong>Q2</strong>: Mary is English. She was born in London</p>
								<label> <input type="radio" name="two" value="a" class="newques">&nbsp;Mary was born in England</label>
                            <label><input type="radio" name="two" value="b" class="newques">&nbsp;Mary, who is English, was born in London</label>
                            <label><input type="radio" name="two" value="c" class="newques">&nbsp;English Mary was born in London</label>

							</div>
								<a href="#step-2" class="btn btn-primary nextBtn btn-lg pull-left">previous</a>
							   						   
							<button id="finalsubmit" class="btn btn-primary  btn-lg pull-right" type="button">submit</button>
							 
							</div>
							</div>
							</div> #}
								
							</form>
							</div>
							</div>
							</div>

                        <li>
                            <input type="radio" name="tabs" id="tab3">
                            <label for="tab3">Assignments</label>

                            <div id="tab-content3" class="tab-content animated fadeIn">
                                {# <h2>Home Assignment</h2> #}
                                <div style="text-align: center;">
                                    <a id="assignment-link" href="{{first_topic_session_assignment.assignment_link}}" download>{{first_topic_session_assignment.file_name}}</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <br>
                    <div style="clear:both"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.15.0/ckeditor.js" integrity="sha512-bNMnTgKRxN1n+5rgfcf160HT2koHRcwLcSq/3JDOY9R65mja48E4Hh+a+IQXVaY2NoJCVC+pr0qE3Vz194QwnA==" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML"></script>
<script>

$( ".question" ).each(function( index ) { //decode entities
  $(this).html($( this ).text());
});
function SessionTopic(session_id, test_id, assignment_file){
    let assignment_link = '{{file_path}}'+assignment_file
    $("#assignment-link").attr('href', assignment_link)
    $("#assignment-link").text(assignment_file)
	//var session_id;
	var data = 'session_id='+ session_id; 
	$.ajax({
      url: 'index.php?route=common/studentassignment/getVideosbysessions',
	  type:'post',
      dateType: 'json',
	  data:data,
      success: function (response) {        
	    var html = "";
        $("#tab-content1").html("");
        response.SessionVideo.forEach(function(value, index){
            if ((index % 4) == 0) html += '<div class="classes-list">';
                html += value.player
            /*html += '<div class="class-info">';
            html += '<img src="image/catalog/class-img.png">';
            html += '<div class="class-desc">';
            html += '<h4>'+value.video+'</h4>';
            html += '<p>Class: X | CBSE<span>Guru: Lakshmi Narayana Sir</span></p>';
            html += '</div>';
            html += '</div>';
            */

            if ((index % 4) == 2) html += '</div>';
        });
        html += '</div>';
        $("#tab-content1").append(html)
      }
    });
    
    getTestQuestions(test_id)
}
	
function getTestQuestions(test_id){
	var data = 'test_id='+ test_id;
	 $.ajax({
      url: 'index.php?route=common/studentassignment/getListOfSessionTestQuestions',
	  type:'post',
      dateType: 'json',
	  data:data,
      success: function (response) {
	    var html;
        var len = response.sessiontestquestions.length;
                for(var i=0; i<len; i++){
                var question_id=response.sessiontestquestions[i].question_id;
                var question=response.sessiontestquestions[i].question;
                html+="<p>"+ question +"</p>";
                    $("#tab-content2").append(html);
                }
            
        }
    });
}
	
	function sessionTopicsshowhide(topic_id){
	var data = 'topic_id='+ topic_id;
	 $.ajax({
      url: 'index.php?route=common/studentassignment/getTopicsbyproduct',
	  type:'post',
      dateType: 'json',
	  data:data,
      success: function (response) {
	    var html;
      }
    });
	}


$('.two-toggle').click(function() {
  $(this).parent().children('ul.tree').toggle();
  $(this).parent().toggleClass('active');
});

$('.aside-list li').click(function(e) {
  e.stopPropagation();
  $(this).children('label').children('i').toggleClass('fa-plus-square fa-minus-square')
  $(this).children('label').children('i').toggleClass('fa-caret-up fa-caret-down')
});



function numberOnly(input) {
    var regex = /[^0-9]/gi;
    input.value = input.value.replace(regex, "");
}
 
$(document).ready(function() {
   var navListItems = $('div.setup-panel div a'),
     allWells = $('.setup-content'),
     allNextBtn = $('.nextBtn');
	allpreBtn = $('.preBtn');

   allWells.hide();

   navListItems.click(function(e) {
     e.preventDefault();
     var $target = $($(this).attr('href')),
       $item = $(this);
     if (!$item.hasClass('disabled')) {
       navListItems.removeClass('btn-primary').addClass('btn-default');
       $item.addClass('btn-primary');
       allWells.hide();
       $target.show();
       $target.find('input:eq(0)').focus();
     }
   });

   allNextBtn.click(function() {
     var curStep = $(this).closest(".setup-content"),
       curStepBtn = curStep.attr("id"),
       nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
       curInputs = curStep.find("input[type='text'],input[type='url'],textarea[textarea]"),
       isValid = true;
     console.log(curStepBtn);
     $(".form-group").removeClass("has-error");
     for (var i = 0; i < curInputs.length; i++) {
       console.log(curInputs);
       if (!curInputs[i].validity.valid) {
         isValid = false;
         $(curInputs[i]).closest(".form-group").addClass("has-error");
       }
     }

     if (isValid)
       nextStepWizard.removeAttr('disabled').trigger('click');
   });

   $('div.setup-panel div a.btn-primary').trigger('click');
 });
var currentValue = 0;
function handleClick(myRadio) {
    alert('Old value: ' + currentValue);
    alert('New value: ' + myRadio.value);
    currentValue = myRadio.value;
}




 $(function () {
        $('form').bind('submit', function () {
          $.ajax({
            type: 'post',
            url: 'index.php?route=common/studentassignment/addstudentquestions',
            data: $('form').serializeArray(),
            dateType: 'json',
            success: function (response) {
              console.log(response);
            }
          });
          return false;
        });
      });


</script>

