{{ header }}
<ul class="breadcrumb">
  {% for breadcrumb in breadcrumbs %}
  <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
  {% endfor %}
</ul>
{% if j3.settings.get('pageTitlePosition') == 'top' %}
  <h1 class="title page-title"><span>{{ heading_title }}</span></h1>
{% endif %}
{{ j3.loadController('journal3/layout', 'top') }}
<div id="common-success" class="container registration-success">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {% if j3.settings.get('pageTitlePosition') == 'default' %}
        <h1 class="title page-title">{{ heading_title }}</h1>
      {% endif %}
      {{ content_top }}

      <div class="success-wrapper">

        <div class="success-top-block">
          <div class="success-icon"></div>
          <h2>{{text_congracts}}</h2>
          <p class="text_success_1">{{text_message}}</p>
          <p class="text_success_1">{{text_message_1}}</p>

          <p class="text-1">{{text_approval}}</p>
          <!-- {{ text_message }} -->
        </div>
      </div>


      <!-- {{ text_message }} -->
      <div class="buttons btn-continue">
        <a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
