<div class="row login-box">
  <!-- New user  -->
  <div class="col-sm-12">
    <div class="newuser">
      <h2 class="title">{{ text_new_customer }}</h2>
      <!-- <p>{{ text_checkout }}</p> -->
      <div class="radio-group">
        <div class="radio">
          <label> {% if account == 'register' %}
              <input type="radio" name="account" value="register" checked="checked" />
            {% else %}
              <input type="radio" name="account" value="register" />
            {% endif %}
            <span>{{ text_register }}</span></label>
        </div>
        {% if checkout_guest %}
          <div class="radio">
            <label> {% if account == 'guest' %}
                <input type="radio" name="account" value="guest" checked="checked" />
              {% else %}
                <input type="radio" name="account" value="guest" />
              {% endif %}
              <span>{{ text_guest }}</span>
            </label>
          </div>
        {% endif %}
      </div>
     
      <!-- <p>{{ text_register_account }}</p> -->
      <div class="buttons btn-continue">
          <button type="button" id="button-account" data-loading-text="{{ text_loading }}" class="btn btn-primary"><span>{{ button_continue }}</span></button>
      </div>
    </div>
  </div>


  <!-- Existing User -->
  <div class="col-sm-12">
    <div class="exitinguser">
      <!-- <h2 class="title">{{ text_returning_customer }}</h2> -->
      <h2 class="title">{{ text_i_am_returning_customer }}</h2>

      <!-- <p>{{ text_i_am_returning_customer }}</p> -->
      <div class="form-group">
        <!-- <label class="control-label" for="input-email">{{ entry_email }}</label> -->
        <input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
      </div>
      <div class="form-group">
        <!-- <label class="control-label" for="input-password">{{ entry_password }}</label> -->
        <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
        <a href="{{ forgotten }}">{{ text_forgotten }}</a></div>
        <div class="buttons btn-continue">
          <button type="button" id="button-login" data-loading-text="{{ text_loading }}" class="btn btn-primary"><span>{{ button_login }}</span></button>
      </div>
    </div>
  </div>
</div>
